body{
	background-color: #BDBDBD;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px;
}


/* 
	########################################
	########################################
	########################################
	########################################
	########################################
*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
	font-size: 28px;
}

body {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* 
	
	########################################
	
	########################################
	
	########################################
	
	########################################
	
	########################################
	
*/


.main-image{
	width: 100%;
}
.main-image img{
	width: 100%;
	max-height: 400px;
}
.header_top {
    background: none repeat scroll 0 0 #7986CB;
}
.header-middle {
    background: none repeat scroll 0 0 #9FA8DA;
}
.footer-top {
    background: none repeat scroll 0 0 #9FA8DA;
}
.footer-widget {
    background: none repeat scroll 0 0 #9FA8DA;
}
.footer-bottom {
    background: none repeat scroll 0 0 #7986CB;
}
.footer-widget {
    margin-bottom: 0;
    padding-bottom: 10px;
}
.contactinfo ul li a, .contactinfo i{
    color: #FFF;
}
.userinfo{
	text-align: right;
}
.userinfo i, .userinfo a{
	color: #FFF;
}
.userinfo ul li:hover{
	background-color: none;
}

.mainmenu ul li, .mainmenu ul li a{
	color: #1A237E;
}
.mainmenu ul li.active, .mainmenu ul li a.active, .mainmenu ul li:hover, .mainmenu ul li a:hover{
	color: #FFF;
}
.navbar-nav li ul.sub-menu li a{
	color: #FFF;
}
.navbar-nav li ul.sub-menu li a:hover{
	color: #9FA8DA;
}
.choose, .productinfo{
	background-color: #FFF;
}
.companyinfo p, .companyinfo h2, .address p, .footer-widget h2, .footer-widget ul li a, .video-gallery p, .video-gallery h2 .footer-bottom p{
	color: #FFF;
}
/*.rating span{color: #AAA; font-size: 2em}
.star1 span:nth-child(-n+1){color: #ffc107;}
.star2 span:nth-child(-n+2){color: #ffc107;}
.star3 span:nth-child(-n+3){color: #ffc107;}
.star4 span:nth-child(-n+4){color: #ffc107;}
.star5 span:nth-child(-n+5){color: #ffc107;}*/
.rating-symbol .glyphicon-star{
	color: #ffc107;
}
.rating-symbol .glyphicon-star-empty{
	color: #999;
}
.icon-success{
	color: #4CAF50;
	font-size: 24px;
}
.icon-default{
	color: #CCC;
	font-size: 24px;
}
#LoginSignup .nav-tabs a, #LoginSignup .nav-tabs i, #LoginSignup .link{
	color: #448AFF;
}
.social-providers .btn{
	margin-right: 3px;
}
#LoginSignup h4{
	color: #666;
	text-align: center;
}
#topMenu .nav-pills>li>a{
	color: #FFF;
}
#topMenu .nav>li>a,#topMenu  .nav>li>a{
	
}
#topMenu .nav{
	margin-bottom: -10px;
}
#topMenu .nav>li>a:hover,#topMenu  .nav>li>a:focus{
	background-color: transparent;
}
#profile, #profile .dropdown-menu{
	margin-top: -5px;
}

@media only screen and (min-width: 770px){
	#accordion2 {
		display: block;
	}
	.openSideNav {
		display: none;
	}
}